@using MobiReward.Common
@model IList<MobileReward.Models.Promotion>

@{
    Layout = "~/Views/Shared/_SubLayout.cshtml";
    ViewBag.Title = "Promotion List";
}

    
    <div class="right_side_box">
        <h1 style="font-size: 15px; padding-left: 16px;">Pending Promotions</h1>
        @*<div class="right_side_box" id="divDetails">*@
        <div class="right_side_innerbox">
            <div class="box_table" style="width:100%;margin-top:0px;">
                <table class="box_table CSSTableGenerator" id="tblpromotion" style="width: 100%">
                    <thead>
                        <tr>
                            <th width="22%">Promotion Title</th>
                            <th width="27%">Promotion Name</th>
                            <th width="18%">Start Date</th>
                            <th width="35%">End Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: items" class="form-inline">
                        @foreach (var p in @Model)
                        {
                            <tr>
                                <td><a href="@Url.Action("PromotionDetails", "Merchant", new { promotionid = @p.PromotionId })">
                                    <span>@p.PromotionTitle</span>
                                </a></td>
                                <td>@p.PromotionName</td>
                                <td>@Convert.ToDateTime(p.DateStart).ToString("dd-MMM-yyyy")</td>
                                <td>@Convert.ToDateTime(p.DateEnd).ToString("dd-MMM-yyyy")</td>
                                <td><a href="@Url.Action("AdminPromotionEdit", "Admin", new { promotionid = @p.PromotionId })">
                                    <u><b>Edit</b></u>
                                </a></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
    @Html.Action("LatestPromotions")

